
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Create Profile</h5></div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Вулиця </label>
                  <input
                    class=" form-control"
                    placeholder="Вулиця"
                    type="text"
                    value=""
                  />
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> № будинку </label>
                  <input
                    class=" form-control"
                    placeholder="№ будинку"
                    type="text"
                    value=""
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> № квартири </label>
                  <input
                    class=" form-control"
                    placeholder="№ квартири"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Телефон </label>
                  <input
                    class=" form-control"
                    placeholder="Телефон"
                    type="text"
                    value=""
                  />
                </div>
              </div>
              <div class=" col-md-3  px-md-1">
                <div class=" form-group">
                  <label> Ім`я </label>
                  <input
                    class=" form-control"
                    placeholder="Ім`я"
                    type="text"
                    value=""
                  />
                </div>
              </div>
              <div class=" col-md-3 pl-md-1">
                <div class=" form-group">
                  <label> Ціна </label>
                  <input
                    class=" form-control"
                    placeholder="Ціна"
                    type="text"
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <div ngbDropdown class="d-inline-block">
                    <label> Тип квартири </label>
                    <select class="custom-select custom-select-sm">
                      <option selected>Виберіть тип квартири</option>
                      <option value="1">Новобудова</option>
                      <option value="2">Цегла</option>
                      <option value="3">Панель</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <div ngbDropdown class="d-inline-block">
                    <label>Тип опалення </label>
                    <select class="custom-select custom-select-sm">
                      <option selected>Виберіть тип опалення</option>
                      <option value="1">Загальне</option>
                      <option value="2">Індивідуальне</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class=" col-md-3">
                <div class=" form-group">
                  <div ngbDropdown class="d-inline-block">
                    <label>Район</label>
                    <select class="custom-select custom-select-sm">
                      <option selected>Виберіть район</option>
                      <option value="1">Каскад</option>
                      <option value="2">Позитрон</option>
                      <option value="3">Аеропорт</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class=" col-md-3 col-md-3 pl-md-1">
                <div class=" form-group">
                  <div ngbDropdown class="d-inline-block">
                    <label>Тип кімнат</label>
                    <select class="custom-select custom-select-sm">
                      <option selected>Виберіть тип кімнат</option>
                      <option value="1">Розділені</option>
                      <option value="2">Прохідні</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <div ngbDropdown class="d-inline-block">
                    <label>Тип комунальних послуг</label>
                    <select class="custom-select custom-select-sm">
                      <option selected>Виберіть комунальні послуги</option>
                      <option value="1">Пільга</option>
                      <option value="2">Індивідуальне</option>
                      <option value="3">Лічильник</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <div ngbDropdown class="d-inline-block">
                    <label>Тип меблів</label>
                    <select class="custom-select custom-select-sm">
                      <option selected>Майже нові</option>
                      <option value="1">Нові</option>
                      <option value="2">Немає</option>
                      <option value="3">Старі</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class=" col-md-3">
                <div class=" form-group">
                  <div ngbDropdown class="d-inline-block">
                    <label>Тип будинку</label>
                    <select class="custom-select custom-select-sm">
                      <option selected>Панель</option>
                      <option value="1">Цегла</option>
                      <option value="2">Панель</option>
                      <option value="3">Новобудова</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class=" col-md-3 col-md-3 pl-md-1">
                <div class=" form-group">
                  <div ngbDropdown class="d-inline-block">
                    <label>Орендар</label>
                    <select class="custom-select custom-select-sm">
                      <option selected>Студент</option>
                      <option value="1">Сім'я</option>
                      <option value="2">Студент</option>
                      <option value="3">Одинак</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-8">
                <div class=" form-group">
                  <label> Нотатка </label>
                  <textarea
                    class=" form-control"
                    cols="80"
                    placeholder="Вкажіть будь ласка щось про квартиру"
                    rows="4"
                    value="Mike"
                  >
</textarea
>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">Зберегти</button>
        </div>
      </div>
    </div>
  </div>
</div>
